body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

#cabecalho {
  background-color: rgb(47, 193, 140);
  color: white;
  position: fixed;
  top: 0;
  height: 130px;
  width: 100%;
}

#titulo {
  color: white;
  margin-left: 30px;
}

#minha_foto {
  display: block;
  margin-left: 100px;
  width: 270px;
  height: 270px;
  border-radius: 300px;
  margin-top: 150px;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}

li {
  margin-left: 30px;
}

#rodape {
  background-color: rgb(47, 193, 140);
}

table {
  margin: 30px;
  padding: 7px;
  border: 2px solid rgb(47, 193, 140);
  width: 20px;
  height: 50px;
  text-align: center;
}

th {
  margin: 30px;
  padding: 7px;
  border: 2px solid rgb(47, 193, 140);
  width: 20px;
  height: 50px;
  text-align: center;
}

td {
  margin: 30px;
  padding: 7px;
  border: 2px solid rgb(47, 193, 140);
  width: 20px;
  height: 50px;
  text-align: center;
}

a {
  text-decoration: dashed;
}

aside {
  width: 300px;
  padding: 20px;
  vertical-align: top;
  font-style: italic;
  background-color: rgb(47, 193, 140);
  display: inline-block;
  position: fixed;
  top: 150px;
  left: 900px;
  margin-bottom: 50px;
}

.vertical {
  margin-left: 1px;
}

#titulo_vertical {
  margin-left: 20px;
}

.lado-esquerdo {
  display: inline-block;
  font-size: 15px;
  width: 30%;
  margin-right: 50px;
}

.lado-direito {
  display: inline-block;
  font-size: 15px;
  width: 30%;
  margin-right: 50px;
  margin-top: 100px;
}